 /*-----------------------------------------------------------------------------------------*/
 /* ACHTUNG! Common.css enthält die gemeinsamen Skin-Anpassungen der deutschsprachigen Wikipedia */
 /*-----------------------------------------------------------------------------------------*/

 /* Common.css ist in drei grundlegende Abschnitte gegliedert: */

 /* 1. Editierbare Seiteninhalte */
 /* 2. Sonstige Anpassungen (Spezialseiten, u.a.) */
 /* 3. Hauptseitenspezifisches */

 /* Jede Ergänzung/Änderung muss vorher jeweils für alle Skins auf Tauglichkeit getestet werden, */
 /* individuell per User.css! Ist hier erstmal geändert, dauert es dank Cache eine Weile, bis die */
 /* Änderungen bei allen Nutzern sichtbar oder, bei Fehlern, korrigiert sind. */


 /* +++++ 1. ANPASSUNGEN DER ANZEIGE VON EDITIERBAREN SEITENINHALTEN +++++ */

 /* Personennamen in Kapitälchen: class="Person" */

 .Person {
 	display: inline;
 	font-variant: small-caps;
 	font-style: normal;
 }

 /* [[Wikipedia:Zitate|Zitate]] (siehe [[Vorlage:Zitat]]) */

 p.Zitat {
 	font-style: normal;
 	margin-bottom: 0em;
 }
 p.cite {
 	margin-top: 0em;
 	padding-left: 1em;
 }

 /* [[Wikipedia:Quellenangaben|Quellenangaben]] nicht kursiv, da sie ggf. verschiedene Bestandteile enthalten */

 cite {
 	font-style: normal;
 }

 /* Stylesheet-Ergänzung zu Standard-[[Wikipedia:Navigationsleisten|Navigationsleisten]] */

 div.BoxenVerschmelzen,
 div.NavFrame {
 	margin: 0px;
 	padding: 2px;
 	border: 1px solid #aaaaaa;
 	text-align: center;
 	border-collapse: collapse;
 	font-size: 95%;
        clear:both;
 }
 div.BoxenVerschmelzen div.NavFrame {
 	border-style: none;
 	border-style: hidden;
 }
 div.NavFrame + div.NavFrame {
 	border-top-style: none;
 	border-top-style: hidden;
 }
 div.NavPic {
 	background-color: #ffffff;
 	margin: 0px;
 	padding: 2px;
 	float: left;
 }
 div.NavFrame div.NavHead {
 	height: 1.6em;
 	font-weight: bold;
 	font-size: 100%;
 	background-color: #efefef;
 }
 div.NavFrame p {
 	font-size: 100%;
 }
 div.NavFrame div.NavContent {
 	font-size: 100%;
 }
 div.NavFrame div.NavContent p {
 	font-size: 100%;
 }
 div.NavEnd {
 	margin: 0px;
 	padding: 0px;
 	line-height: 1px;
 	clear: both;
 }

 /* Abstand vor Navigationsleisten */

 div.BoxenVerschmelzen,
 div.NavFrame {
   margin-top: 1.5em;
 }
 div.BoxenVerschmelzen div.NavFrame {
   margin-top: 0;
 }
 div.NavFrame + div.NavFrame {
   margin-top: 0;
 }

 /* Navigationsleisten nicht mit ausdrucken */

 @media print{
 	.NavFrame {
 		display: none;
 	}
 	.BoxenVerschmelzen {
 		display: none;
 	}
 }

 /* Stylesheet-Ergänzung zu SideBoxen (ehedem [[Wikipedia:TownBox|TownBox]]) */

 div.sideBox {
 	position: relative;
 	float: right;
 	background: white;
 	margin-left: 1em;
 	border: 1px solid gray;
 	padding: 0.3em;
 	width: 200px;
 	overflow: hidden;
 	clear: right;
 }
 div.sideBox dl {
 	padding: 0;
 	margin: 0 0 0.3em 0;
 	font-size: 96%;
 }
 div.sideBox dl dt {
 	background: none;
 	margin: 0.4em 0 0 0;
 }
 div.sideBox dl dd {
 	margin: 0.1em 0 0 1.1em;
 	background-color: #f3f3f3;
 }

 /* Stylesheet-Ergänzung zu [[Wikipedia:Taxoboxen|Taxoboxen]] */

 table.taxobox {
        border-collapse: collapse;
        border: 1px solid gray;
        float: right;
        margin-left: 0.5em;
        background-color:white;
 }
 table.taxobox th {
        background-color: #9BCD9B;
        border: solid 1px gray;
        text-align: center;
        font-weight: bold;
 }
 table.taxobox td {
        vertical-align:top;
 }
 table.taxobox .Person {
        font-style: normal;
 }
 table.taxobox div.thumb,
 table.taxobox div.thumb * {
        margin: 0;
        padding: 0;
        float: none;
        border: none;
 }
 table.taxobox div.magnify {
        display: none;
 }
 table.taxobox tr td div.thumb div div.thumbcaption {
        text-align:center;
 }
 table.taxobox td.Person {
        text-align:center;
        display:block;
 }
 table.taxobox td.taxo-name {
        text-align:center;
 }
 table.taxobox td.taxo-bild {
        text-align:center;
 }

 /* Stylesheet-Ergänzung zu [[Wikipedia:Paläoboxen|Paläoboxen]] */

 table.palaeobox {
       border-collapse: collapse;
       border: 1px solid gray;
       float: right;
       margin-left: 0.5em;
       background-color:white;
 }
 table.palaeobox th {
       background-color: #e7dcc3;
       border: solid 1px gray;
       text-align: center;
       font-weight: bold;
 }
 table.palaeobox td {
       vertical-align:top;
 }
 table.palaeobox .Person {
       font-style: normal;
 }
 table.palaeobox div.thumb,
 table.palaeobox div.thumb * {
       margin: 0;
       padding: 0;
       float: none;
       border: none;
 }
 table.palaeobox div.magnify {
       display:none;
 }
 table.palaeobox tr td div.thumb div div.thumbcaption {
       text-align:left;
 }
 table.palaeobox td.Person {
       text-align:center;
       display:block;
 }
 table.palaeobox td.taxo-name {
       text-align:center;
 }
 table.palaeobox td.taxo-bild {
       text-align:center;
 }
 table.palaeobox td.taxo-zeit {
       text-align:center;
 }
 table.palaeobox td.taxo-ort {
       text-align:left;
 }

 /* Bitte KEINE weiteren Definitionen dieser Art für Boxen hier, das gehört in entsprechende Vorlagen! */
 /* Hier 20 Mal Trivialitäten wie "text-align:center" zu definieren verlangsamt alles und ist nicht */
 /* Sinn der Sache. (Und wer nicht weiß warum, hat's nicht verstanden.) */


 /* Do not expand [[Wikipedia:WikiProjekt Georeferenzierung|kvaleberg.com-URLs]] for printing */

 #content span.coordinates a.external.text:after, #content span.coordinates a.external.autonumber:after { content: ""; }
 #content div.coordinates a.external.text:after, #content div.coordinates a.external.autonumber:after { content: ""; }

 /* Metadaten (bspw. [[Wikipedia:Personendaten|Personendaten]]) */

 table.metadata {
 	border: 1px solid #aaaaaa;
 	display: none;
 }
 .metadata-label {
 	color: #aaaaaa;
 }

 /* [[Vorlage:Stub|Stubvorlage]] nicht anzeigen*/

 #Vorlage_Stub {
       display: none;
 }

 /*
  * Farbdefinitionen für Rahmen und Hintergründe von [[Wikipedia:Textbausteine|Textbausteinen]].
  * Hier: Standardvorgaben für "dunkle Schrift auf hellem Grund".
  * Für Hell-auf-dunkel-Skins ([[MediaWiki:Amethyst.css|Amethyst]]) müssen dort entsprechende Definitionen
  * zusätzlich eingetragen werden! Anpassungen für andere Skins sind optional.
  * (Die Angaben der Rahmenstärke dienen der Bequemlichkeit, so dass man
  * für dünne Rahmen nur noch "border-style" angeben muss.)
  */

 .rahmenfarbe1 { /* Wie Inhaltsverzeichnis */
 	border-color: #aaaaaa;
 	border-width: 1px;
 }
 .rahmenfarbe2 { /* Unauffällig, geringer Kontrast */
 	border-color: #e9e9e9;
 	border-width: 1px;
 }
 .rahmenfarbe3 { /* "Rot", auffällig */
 	border-color: #c00000;
 	border-width: 1px;
 }
 .rahmenfarbe4 { /* Neutrale Farbe, deutlich */
 	border-color: #8888aa;
 	border-width: 1px;
 }
 .rahmenfarbe5 { /* "Schwarz", hoher Kontrast */
 	border-color: #000000;
 	border-width: 1px;
 }

 .hintergrundfarbe1 { /* Wie Inhaltsverzeichnis */
 	background-color: #f9f9f9;
 }
 .hintergrundfarbe2 { /* "Weiß", für Nicht-Artikel-Seiten, neutral */
 	background-color: #ffffff;
 }
 .hintergrundfarbe3 { /* "Gelb", auffällig */
 	background-color: #ffff40;
 }
 .hintergrundfarbe4 { /* Sehr auffällig */
 	background-color: #ffaa00;
 }
 .hintergrundfarbe5 { /* Neutral, abgesetzt */
 	background-color: #e0e0e0;
 }
 .hintergrundfarbe6 { /* Allgemein „bunt“, für Hervorhebungen und Unterscheidungen */
 	background-color: #b3b7ff;
 }
 .hintergrundfarbe7 { /* Allgemein „bunt“, für Hervorhebungen und Unterscheidungen */
 	background-color: #ffcbcb;
 }
 .hintergrundfarbe8 { /* Allgemein „bunt“, für Hervorhebungen und Unterscheidungen */
 	background-color: #ffebad;
 }
 .hintergrundfarbe9 { /* Allgemein „bunt“, für Hervorhebungen und Unterscheidungen */
 	background-color: #b9ffc5;
 }

 /* aus Vorlage zur Entlastung, skinabhängigen Darstellung und Kombinierbarkeit hierher ausgelagert */
 table.wikitable,
 table.prettytable {
   margin: 1em 1em 1em 0;
   background: #f9f9f9;
   border: 1px #aaa solid;
   border-collapse: collapse;
   empty-cells:show;
 }
 
 table.wikitable th, table.wikitable td,
 table.prettytable th, table.prettytable td {
   border: 1px #aaa solid;
   padding: 0.2em;
 }
 
 table.wikitable th,
 table.prettytable th {
   background: #f2f2f2;
   text-align: center;
 }
 
 table.wikitable caption,
 table.prettytable caption {
   margin-left: inherit;
   margin-right: inherit;
   font-weight: bold;
 }

 .float-left { float: left; clear: left; }
 .float-right { float: right; clear: right; }

 /* +++++ 2. SONSTIGE ANPASSUNGEN (Spezialseiten, u. a.) +++++ */

 /* Markierung von Redirects in [[Special:Allpages]] und [[Special:Watchlist]] */

 .allpagesredirect {
        font-style: italic;
 }

 .watchlistredir {
        font-style: italic;
 }

 /* Einmal gelesene Bestandteile (z.B. in der Sitenotice) ausblenden, sobald css geladen ist */

 #gelesen {
        display:none;
 }



 /* Skinabhängige absolute Positionierungen ausblenden */
 /* Bitte [[MediaWiki Diskussion:Common.css#Absolute_Positionierungen]] beachten */

 #coordinates_3_ObenRechts, #issnlink, #editcount, #shortcut, #artikelstadium {
    display: none;
 }
 
 
 
  /* CommonsTicker styles */
 
  .tickerList ul,    .tickerList ul li    { list-style: none; text-indent:-2em; margin-left:2em;   text-align:left; }
  .tickerList ul ul, .tickerList ul ul li { list-style: none; text-indent:0;    margin-left:1.5em; text-align:left; }
 
  .tickerAction_deleted:before     { content:" WEG "; color: #FF0000; font-family:monospace; font-weight:bold; font-size:100%; }
  .tickerAction_restored:before    { content:" RST "; color: #00BB00; font-family:monospace; font-weight:bold; font-size:100%; }
  .tickerAction_replaced:before    { content:" ERS "; color: #CC88FF; font-family:monospace; font-weight:bold; font-size:100%; }
  .tickerAction_addedTag:before    { content:" +LA "; color: #FF8800; font-family:monospace; font-weight:bold; font-size:100%; }
  .tickerAction_removedTag:before  { content:" -LA "; color: #00BB00; font-family:monospace; font-weight:bold; font-size:100%; }
  .tickerAction_addedBad:before    { content:" +LA "; color: #FF8800; font-family:monospace; font-weight:bold; font-size:100%; }
  .tickerAction_removedBad:before  { content:" -LA "; color: #00BB00; font-family:monospace; font-weight:bold; font-size:100%; }
  .tickerAction_addedGood:before   { content:" +OK "; color: #00BB00; font-family:monospace; font-weight:bold; font-size:100%; }
  .tickerAction_removedGood:before { content:" -OK "; color: #FF8800; font-family:monospace; font-weight:bold; font-size:100%; }
 
  .tickerUsage  { font-size:80%; }  /* ticker usage list */
  .tickerTemplateEntry    { font-weight: bold; } /* entry applies to a template used by multiple images */
 
  /* per-status styles  */  
  .tickerStatus_done:before {content:" Fixed "; color: #00AA00; font-family:monospace; font-weight:bold; font-size:90%; text-decoration: none;}
  .tickerStatus_done { text-decoration:line-through; font-size: small; } 
 
  /* strike through when entry has been handeled (done) */
  /*.tickerStatus_done .tickerAction_deleted:before  { content:" "; text-decoration: none;}*/ 
  .tickerStatus_done .tickerAction_deleted:before  { text-decoration: none; }
 
  /* local reupload */  
  .tickerStatus_local {text-decoration:line-through; font-size: small; } 
  .tickerStatus_local .tickerAction_deleted:before  {content:" "; text-decoration: none;}
  .tickerStatus_local:before { content:" re-uploaded locally "; color: #00AA00; font-family:monospace; font-weight:bold; font-size:90%; text-decoration: none;}
 
  /* in process of fixing */
  .tickerStatus_fixing .tickerAction_deleted:before  {content:" "; text-decoration: none;}
  .tickerStatus_fixing:before {content:"fixing"; color: #FF8800; font-family:monospace; font-weight:bold; font-size:90%;}
 
  /* Won'tfix */
  .tickerStatus_wontfix .tickerAction_deleted:before  {text-decoration: none;}
  .tickerStatus_wontfix {text-decoration: line-through;}
  .tickerStatus_wontfix:before {content:"Will not fix"; color: #CC0000; font-family:monospace; font-weight:bold; font-size:90%;text-decoration:none;}  
 
  /* similiar */
  .tickerStatus_similiar .tickerAction_deleted:before  {text-decoration: none;}
  .tickerStatus_similiar {text-decoration: line-through;}
  .tickerStatus_similiar:before {content:"REPL Article;no fix"; color: #FF4400; font-family:monospace; font-weight:bold; font-size:90%;text-decoration:none;}
 
  /* NA */
  .tickerStatus_NA .tickerAction_deleted:before  {text-decoration: none;}
  .tickerStatus_NA:before {content:"No NEG"; color: #00FF20;} 
  ul span.tickerStatus_NA + ul span.tickerUsage {display:none;}
  span.tickerStatus_NA  span.tickerUsage {display:none;}
  /*Needed so that both subentrys and non-subentrys both are invisivble */
 
 
 /* +++++ 3. NEUE [[Hauptseite|HAUPTSEITE]] (ab 2006) +++++ */

 #hauptseite h2 {
       background-color: #d8e8ff;
       border: 1px solid #8898bf;
       font-size: 1em;
       font-weight: bold;
       margin-top: 0;
       margin-bottom: 0;
       padding-top: 0.1em;
       padding-bottom: 0.1em;
 }
 #hauptseite .inhalt {
       background-color: #ffffff;
       border: 1px solid #8898bf;
       border-top: 0px solid white;
       padding: 0.3em 0.8em 0.4em 0.8em;
 }
 #hauptseite .inhalt hr {
       background-color: #8898bf;
       color: #8898bf;
       height: 1px;
       margin:0.5em 0;
       padding: 0;
 }
 #hauptseite .inhalt .mehr {
       clear: both;
       font-size: 95%;
       margin-top: 0.8em;
       text-align: right;
 }
 .hauptseite-oben,
 .hauptseite-links,
 .hauptseite-rechts {
       margin-bottom: 1em;
 }
 .hauptseite-links {
       margin-right: 0.5em;
 }
 .hauptseite-rechts {
       margin-left: 0.5em;
 }
 .hauptseite-oben h2,
 .hauptseite-unten h2 {
       text-align: center;
 }
 .hauptseite-oben .inhalt .portale {
       font-weight: bold;
       margin-top: 0.2em;
       margin-bottom: 0.2em;
 }
 .hauptseite-oben .inhalt .intern {
       font-size: 90%;
       text-align: center;
 }
 .hauptseite-links h2,
 .hauptseite-rechts h2 {
       text-indent: 0.8em;
 }
 #hauptseite-schwesterprojekte .inhalt a {
       font-weight: bold;
 }

 /* [[:Template:Link_FA]] style, see function linkFA in [[MediaWiki:Monobook.js]] */
  
 /* hide the code generated by the [[:Template:Link_FA]] */
 #bodyContent span.FA {
     display: none; 
 }
  
 /* the FA-class is added with JS */
 #p-lang li.FA {
     padding: 0 0 0 16px;
     background-image: url('http://upload.wikimedia.org/wikipedia/commons/6/60/LinkFA-star.png');
     background-repeat: no-repeat;
 }

 /* Keine Vergrößerung der Zeilenhöhe durch hochgestellte Zahlen der Fußnoten */

 .reference, .references sup {
     font-size: 91%;
     vertical-align: text-top;
     position: relative;
     top: -0.3em;
 }