 /*-----------------------------------------------------------------------------*/
 /* Änderungen am Monobook-Skin für die deutschsprachige Wikipedia               */
 /* --> Skinübergreifende Anpassungen befinden sich in [[MediaWiki:Common.css|Common.css]]               */
 /*-----------------------------------------------------------------------------*/
 
 /* Änderungen in Fett markieren */
 
 span.diffchange {
         font-weight: bold;
 }
 
 /* Links nicht unterstreichen */
 
 a {
        text-decoration: none;
 }
 
 /* Großbuchstaben in den Navigationsbereichen */
 
 .portlet h5,
 .portlet h6,
 #p-personal ul,
 #p-cactions li a {
 	text-transform: none;
 }
 
 /* Fetter Bearbeiten-Link */
 
 #ca-edit a {
 	font-weight: bold !important;
 }
 
 /* Vermeide hässliche weiße Ränder bei Float-Objekten auf nicht-weißen Hintergründen. */
 
 div.thumb {
 	border: none;
 }
 div.tright {
 	border: none;
 	margin: 0.5em 0 0.8em 1.4em;
 }
 div.tleft {
 	border: none;
 	margin: 0.5em 1.4em 0.8em 0;
 }
 
 /* fromWikipedia */
 
 #fromWikipedia {
 	font-size: x-small;
 }
 
 /* Make all non-namespace pages have a light blue content area. This is done by
 	setting the background color for all #content areas to light blue and then
 	overriding it for any #content enclosed in a .ns-0 (main namespace). I then
 	do the same for the "tab" background colors. --Lupo */
 
 #content,
 #mytabs li.selected a,
 #p-cactions li.selected a {
 	background-color: #F3F3FF; /* ein leichtes blau */
 }
 .ns-0 #content,
 .ns-0 #mytabs li.selected a,
 .ns-0 #p-cactions li.selected a {
 	background-color: white;
 }
 
 /* Siehe Diskussionsseite == Hintergrundfarben ==
 .ns--1 table,
 .ns-2 table,
 .ns-4 table,
 .ns--1 form {
 	background: inherit;
 }
 */
 
 /* Kategorien etwas schöner darstellen */
 
 #catlinks {
 	border: 0px;
 	border-top: 2px dotted #aaaaaa;
 }
 
 /*  Kategorienseite mit transparentem Hintergrund */
 
 #mw-subcategories table { 
        background-color: transparent; 
 }
 
 #mw-pages         table { 
        background-color: transparent; 
 }
 
 /* Tabellenüberschriften (mit |+) größer und fett */
 
 caption {
 	font-size: 105%;
 	font-weight: bold;
 }
 
 ol.references {
 	font-size:90%;
 }
 
 /* Abschnitt-Bearbeiten-Links */
 .editsection {
 	font-size:90%;
 }
 
 /* [[Wikipedia:Externhinweis|Externhinweis]] */
 
 #externHinweis {
 	font-size: x-small;
 	text-align: center;
 	padding: 5px;
 }
 
 .NavToggle {
        font-size: x-small;
        float:right;
 }
 
 /*-----------------------------------------------------------------------------*/
 
 /* Absolute Positionierungen für Monobook.css */
 /* Bitte [[MediaWiki Diskussion:Common.css#Absolute_Positionierungen]] beachten */
 
 /* Koordinaten-Vorlagen: */
 
 #coordinates_3_ObenRechts {
    display: inline;
 }
 
 #coordinates {
    display: inline;
    position:absolute; z-index:1; border:none; background:none; right:12px; top:0.3em; float:right; margin:0.0em;
    padding:0.0em; line-height:1.5em; text-align:right; text-indent:0; font-size:85%; text-transform:none; white-space:normal;
 }
 
 /* Sitenotice linksbündig, sollte dort keine Probleme machen, dafür die Koordinaten freihalten */
 /* (für die Dauer der Spendenaktion deaktivert, weil der Rest mittig steht. Ggfs. neu anpassen */

 /* #siteNotice p {text-align:left;} */
 /* #siteNotice {padding-left:0;}    */

 /* Sitenotice Hintergrund transparent, vor allem für die nicht-Artikelseiten. */
 #siteNotice table {
    background-color: transparent;
    font-size: 100%;
 }
 
 /* kleines Globus-Symbol neben der Geookordinate anzeigen */
 
 #coordinates a[href ^="http://"] {
    background: url(http://upload.wikimedia.org/wikipedia/de/d/d4/Gnome-globe.png) center right no-repeat; padding-right: 18px !important;
 }
 
 /* Unterdrückung des Weblink-Pfeiles für im Artikel eingebettete Koordinaten */
 
 #bodyContent span.coordinates a.external[href ^="http://"] {background-image:none;padding-right: 0;}
 
 /* für [[Vorlage:ISSN-Link]] damit ohne Globus-Symbol: */
 
 #issnlink {
    display: inline;
    position:absolute; z-index:1; border:none; background:none; right:12px; top:0.3em; float:right; margin:0.0em;
    padding:0.0em; line-height:1.5em; text-align:right; text-indent:0; font-size:85%; text-transform:none; white-space:normal;
 }
 
 /* für [[Wikipedia:Editcount|Vorlage:Editcount]]: */
 
 #editcount {
    display: inline;
    position:absolute; z-index:1; border:none; background:none; right:12px; top:0.3em; float:right; margin:0.0em;
    padding:0.0em; line-height:1.5em; text-align:right; text-indent:0; font-size:85%; text-transform:none; white-space:normal;
 }
 
 /* Formatierung für Abkürzungen (experimentell): */
 
 #shortcut {
    display: inline;
    position:absolute; z-index:1; border:none; background:none; right:12px; top:0.3em; float:right; margin:0.0em;
    padding:0.0em; line-height:1.5em; text-align:right; text-indent:0; font-size:90%; text-transform:none; white-space:normal;
 }
 
 /* Formatierung für Kennzeichnungfür Artikelstadien (Exzellent, Lesenswert etc.) (experimentell): */
 
 #artikelstadium {
    display: block;
    position:absolute; z-index:1; border:none; background:none; right:12px; top:0.3em; float:right; margin:0.0em;
    padding:0.0em; line-height:1.5em; text-align:right; text-indent:0; font-size:90%; text-transform:none; white-space:normal;
 }
 
 /*-----------------------------------------------------------------------------*/
 
 /* Links im [[Portal:Punk]] */
 
 #punk a {
         color: red
 }
 #punk a.new {
         color: #FF8000
 }