/* layout and positioning */
#wrapper 
{
	float			: left;
	text-align		: left;
	padding			: 0px 18px 0px 18px;
	margin-left		: 60px;
	width			: 730px;

}

#logo
{
	float			: left;
	width			: 318px;
	height			: 87px;
	background		: url(../images/logo.jpg) no-repeat;
	margin-top		: 4px;
	margin-bottom		: 20px;

}

#topmainMenu
{
	float			: right;
	height			: 30px;
	width			: 300px;
}

#navAndContent
{
	float			: left;
}

#navigation
{
	width			: 200px;
	float			: left;
	background		: url(../images/navigation-bg.gif) repeat-y;
	background-position	: right top;
	
}

#content
{
	float			: right;
	margin-top		: 10px;
	width			: 500px;
}



.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

