body {
	margin          : 0;
	padding         : 0;
	color           : #000000;
	font            : 73% Arial;
	text-align      : center;
	background	: #fff url(../images/body-bg.jpg) no-repeat;
	background-position	: right bottom;
	background-attachment: fixed;
  }
h1 {
	font-size : 1.7em;
  }
h2 {
	margin : 10px 0;
	font-size : 1.45em;
  }
h3, h4 {
	margin : 10px 0;
	font-size : 1.2em;
  }
.small , .createdate , .modifydate
{
	font-size		: .8em;
}

.createdate
{
	background		: url(../images/date.gif) no-repeat;
	background-position	: 0px -2px;
	padding-left		: 18px;
	height			: 18px;
	
}

.smalldark, .mosimage_caption, a.readon, .blog_more, .back_button, .pagenavcounter, .pagenav, .pagenavbar, .contenttoc {
	font-size : 1em;
  }
.pagenav_prev a, .pagenav_next a {
	color : #666666;
	font-size : 0.9em;
	background-color	: transparent;
  }
form {
	padding : 0;
	margin : 0;
  }
.clr {
	clear : both;
  }
ul {
	margin : 0;
	padding : 0;
	list-style : none;
  }
li {
	line-height : 15px;
	padding-left : 15px;
	padding-top : 0;
	background-image : url(../images/arrow.png);
	background-repeat : no-repeat;
	background-position : 0 2px;
  }
a:link, a:visited, a:active {
	color : #000000;
	font-size : 12px;
	text-decoration : none;
  }
a.latestnews:link, a.latestnews:visited, a.mostread:link, a.mostread:visited {
	color : #464545;
	font-size : 12px;
	
  }
a:hover {
	text-decoration : underline;
  }
  
#copyright a:link, #copyright a:visited,#copyright a:active {
	color : #ffffff;
	font-size : 12px;
	text-decoration : underline;
  }

#copyright a:hover {
	text-decoration : none;
  }  


table.contentpane table {
	margin-right : 2px;
	margin-left : 2px;
  }
  
.sectiontableheader {
	font-size : .8em;
	color : #fff;
	padding		: 2px 0px 2px 2px;
	background		: #6C3F00;
  }
.sectiontableentry1 {
	line-height			: 18px;
  }
.sectiontableentry2 {
	line-height			: 18px;
  }
a.readon {
	text-decoration : underline;
	color : #465F28;
  }
.componentheading {
	color : #fff;
	font-size : 1em;
	font-family : Arial;
	color : #333333;
	font-weight : bold;
}

.contentheading {
	font-family 		: Tahoma;
	font-size 		: 1em;
	color 			: #ff0000;
	font-weight 		: bold;
	padding-left		: 3px;
	height			: 18px;
	padding-top		: 3px;
}

.small, .createdate {
	color : #465F28;
  }
table.contentpaneopen {
	text-align : left;
	background : transparent;
	padding-top : 0;
	padding-left : 0;
	padding-bottom : 0;
	padding-right : 0;
	margin-top : 0;
	margin-left : 0;
	margin-bottom : 0;
	margin-right : 0;
	vertical-align : top;
	line-height : 15px;
	width		: 100%;
	
  }
  

table.contenttoc th {
	background : url(../images/topmenu-bg.png) repeat-x;
	height : 12px;
	padding-top : 2px;
	padding-bottom : 2px;
	text-align : left;
	padding-left : 2px;
  }
table.contenttoc {
	border : 1px solid #333333;
  }
table.contenttoc td {
	padding : 0 2px;
  }
.pathway, .pathway a:link, .pathway a:visited {
	font-size : 10px;
	color : #000;
	padding-right		: 3px;
	margin		: 0;

  }

ul#mainlevel-nav {
	list-style : none;
	padding : 5px 0 0 0;
	margin : 0;
	font-size : 0.8em;
	height		: 20px;
  }

ul#mainlevel-nav li {
	background-image 	: none;
	padding	 		: 0;
	float 			: left;
	margin 			: 0;
	font-size 		: 12px;
	white-space 		: nowrap;
  }

ul#mainlevel-nav li a {
	/* move the menu item vertically by padding it on top */
	/* height of main menu item */
	height			: 17px !important;
	height			: 16px;
	text-decoration		: none;
	color 			: #fff;
	font-size 		: .8em;
	text-align		: left;
	font-family		: verdana;
	background-position	: left center;
	padding-left		: 3px;
	padding-right		: 10px;
}

#topMainMenu > ul#mainlevel-nav li a {
	width : auto;
  }

ul#mainlevel-nav li a:hover {
	text-decoration 		: underline;
	font-size 			: .8em;
	
}

ul#mainlevel-plain {
	list-style : none;
	padding : 0;
	margin : 0;
	font-size : 0.8em;
  }

ul#mainlevel-plain li {
	background-image : none;
	padding-left : 0;
	padding-right : 0;
	float : left;
	margin : 0;
	font-size : 12px;
	line-height : 21px;
	white-space : nowrap;
	height : 39px;
  }

ul#mainlevel-plain li a{
	padding-left : 10px;
	padding-right : 10px;
	padding-top : 5px;
	padding-bottom : 6px;
	margin-right : 1px;
	margin-top : 2px;
	margin-bottom : 1px;
	text-decoration : none;
	color : #333333;
	font-size 			: .9em;
  }

#topSideMenu > ul#mainlevel-plain li a {
	width : auto;
  }

ul#mainlevel-plain li a:hover {
	text-decoration : underline;
  }
  
.mainlevel-plain {
	padding-left : 5px;
	padding-right : 5px;
	line-height : 40px;
  }
form {
	margin : 0;
	padding : 0;
  }
input {
	font : 11px Tahoma, Arial, sans-serif;
	margin : 1px 2px 1px 0;
  }
select {
	font : 11px Tahoma, Arial, sans-serif;
  }
textarea {
	border : 1px solid #cccccc;
	padding-left : 2px;
	font : 11px/1.3em Tahoma, Arial, sans-serif;
  }
.button {
	padding-left : 5px;
	padding-right : 5px;
	color : #000000;
  }
.inputbox {
	padding-left 	: 2px;
	border		: 1px solid #000000;
	background 	: #ECEDEE;
  }
.clr {
	clear : both;
  }


/* These are standard sIFR styles... do not modify */

.sIFR-flash {
	visibility: visible !important;
	margin: 0;
}

.sIFR-replaced {
	visibility: visible !important;
}

span.sIFR-alternate {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	display: block;
	overflow: hidden;
}



.sIFR-hasFlash #content .contentheading {
	visibility: hidden;
	height: 20px;
	padding-bottom: 5px;
}

.sIFR-hasFlash #content .componentheading {
	visibility: hidden;
	font-size: 18px;
	padding-bottom: 5px;
}

.sIFR-hasFlash #navigation div.moduletable h3 {
	visibility: hidden;
	font-size: 12px;
	height: 40px;
}
.sIFR-hasFlash .moduletable th {
	visibility: hidden;
	font-size: 12px;
	height: 40px;
}
.sIFR-hasFlash .small {
	visibility: hidden;
	font-size	: 23px;
	}
	
div#navigation div.moduletable {
	float:left;
	width: 155px;
	padding-top: 0px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
div#navigation div.moduletable h3 {
	color: #666666;
	line-height: 20px;
	text-align: left;
	vertical-align: middle;
	height: 20px;
	width: 153px;
	font-size: 14px;
}