/* CSS for Comments style dashed */

/* GENERAL */
.commenttop{
color:#999999;
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:18px;
font-weight:bold;
}

.commenttop img{
display: none;

}

.commentbottom{
}

.commentbottom img{
display: none;
}

/* COMMENTS */
#commentbubble {
margin-top:10px;
width:100%; 
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:12px;
border: 1px dashed #CECECE;
}

#commentheader {
padding-left:6px;
padding-top:2px;
height: 20px;
color:#333333;
font-size:11px;
font-weight:normal;
}

.commentnumber {
font-size:14px;
font-weight:bold; 
color:#333333;
}

#commentbody{
padding-left:6px;
padding-top:4px;
font-weight:normal; 
color:#333333;
}

#commenttitle {
font-weight:bold; 
}

#comment{
}

#commentweb{
font-size:9px;
text-align:right;
padding-right:6px;
color:#999999;
line-height:12px;
}

.commentip{
font-size:9px;
color:#999999;
}

.commentusertype{
font-size:9px;
color:#999999;
}

.commentreport{
padding-top:2px;
font-size:9px;
text-align:right;
color:#999999;
}

#commentfooter{
height:20px;
font-size:10px;
text-align:left;
padding:0px 0px 0px 6px;
color:#666666;
font-weight:normal;
border: 1px dashed #666666;
margin: 4px 0px 24px 0px;
}


/* COMMENT FORM */
#commentform{
margin-top:10px;
width:100%; 
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:12px;

}

#writecomment{
color:#999999;
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:18px;
font-weight:bold; 
}

#footerform{
width:100%; 
height: 10px;
}

#commentform table{
border: 1px dashed #CECECE;
}

#commentform img{
padding-left: 4px;
}

#commentform td, p{
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
text-indent:6px;
}

#commentform .sectiontableheader{
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
}

#commentform .inputbox{
border: 1px solid #666666;

}

#commentform .button{
background-color:#999999;

}

#commentform li{
font-size:10px;
color:#333333;
}

#commentform .small{
font-size:10px;
color:#333333;
}
