		</td>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<td bgcolor="#4C4C4C" height="100%" width="22"></td>
		<td><img name="corp_page_r1_c5" src="images/templates/black/corp_page_r1_c5.png" width="2" height="100%" border="0" alt=""></td>
		<td><img src="images/spacer.gif" width="1" height="352" border="0" alt=""></td>
	</tr>
	<tr>
		<td colspan="5"><img name="corp_page_r2_c1" src="images/templates/black/corp_page_r2_c1.png" width="687" height="5" border="0" alt=""></td>
		<td><img src="images/spacer.gif" width="1" height="5" border="0" alt=""></td>
	</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="687">
	<tr>
		<td height="4" colspan="4" bgcolor="#6C6C6C"></td>
	</tr>
	<tr>
		<td rowspan="2"><img name="bas_page_r1_c1" src="images/templates/black/bas_page_r1_c1.png" width="1" height="10" border="0" alt=""></td>
		<td><img name="bas_page_r1_c2" src="images/templates/black/bas_page_r1_c2.png" width="685" height="5" border="0" alt=""></td>
		<td rowspan="2"><img name="bas_page_r1_c3" src="images/templates/black/bas_page_r1_c3.png" width="1" height="10" border="0" alt=""></td>
		<td><img src="images/spacer.gif" width="1" height="5" border="0" alt=""></td>
	</tr>
	<tr>
		<td rowspan="3" background="images/templates/black/bas_page_r2_c2.png" width="685" height="34" align="center">
		Langue : <a href="<?=$HTTP_REFERER ?>?cl=1">Français</a> / <a href="<?=$HTTP_REFERER ?>?cl=2">English</a>
		</td>
		<td><img src="images/spacer.gif" width="1" height="5" border="0" alt=""></td>
	</tr>
	<tr>
		<td><img name="bas_page_r3_c1" src="images/templates/black/bas_page_r3_c1.png" width="1" height="28" border="0" alt=""></td>
		<td><img name="bas_page_r3_c3" src="images/templates/black/bas_page_r3_c3.png" width="1" height="28" border="0" alt=""></td>
		<td><img src="images/spacer.gif" width="1" height="28" border="0" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2"><img name="bas_page_r4_c1" src="images/templates/black/bas_page_r4_c1.png" width="1" height="6" border="0" alt=""></td>
		<td rowspan="2"><img name="bas_page_r4_c3" src="images/templates/black/bas_page_r4_c3.png" width="1" height="6" border="0" alt=""></td>
		<td><img src="images/spacer.gif" width="1" height="1" border="0" alt=""></td>
	</tr>
	<tr>
		<td><img name="bas_page_r5_c2" src="images/templates/black/bas_page_r5_c2.png" width="685" height="5" border="0" alt=""></td>
		<td><img src="images/spacer.gif" width="1" height="5" border="0" alt=""></td>
	</tr>
</table>
<table>
	<tr>
		<td align="center">Copyright © Awired.net, 2004. Tous droits réservés</td>
	</tr>	
</table>
</center>		
</body>
</html>