<?php
	//title
	include($dir."modules/entete_title.php");
?>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<table border="0" cellpadding="0" cellspacing="0" width="687" >
	<tr>
   		<td colspan="2" background="images/templates/black/entete_r1_c1.png" width="437" height="30"></td>
   		<td rowspan="5" background="images/templates/black/entete_r1_c3.png" width="250" height="272"></td>
   		<td></td>
  	</tr>
  	<tr>
   		<td colspan="2" background="images/templates/black/entete_r2_c1.png" width="437" height="77"></td>
   		<td></td>
  	</tr>
  	<tr>
   		<td colspan="2" width="437" height="52" ><img src="images/templates/black/entete_r3_c1.png" border="0" width="437" height="52" align="texttop"></td>
   		<td></td>
  	</tr>
  	<tr>
   		<td colspan="2" background="images/templates/black/entete_r4_c1.png" width="437" height="10"></td>
   		<td></td>
  	</tr>
  	<tr>
   		<td bgcolor="#4C4C4C" width="24" height="103" border="0" alt="">
		<table cellpadding="0" cellspacing="0" border="0" width="24" height="103">
   			<tr>
				<td width="1" bgcolor="#6B6B6B"><img src="images/spacer.gif" border="0" width="1" height="1" alt=""></td>
				<td width="23"></td>
			</tr>	
		</table>		
		</td>
   		<td width="413" height="103" bgcolor="#4C4C4C" valign="top">
   		<?
			//include du sous title
			include($dir."modules/entete_soustitle.php");
   		?></td>
		<td></td>
  	</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="687">
	<tr>
		<td><img name="corp_page_r1_c1" src="images/templates/black/corp_page_r1_c1.png" width="1" height="100%" border="0" alt=""></td>
		<td bgcolor="#4C4C4C" width="25" ></td>
		<td width="637" height="352" bgcolor="#4C4C4C">