@charset "iso-8859-1";
body 	{font-family:Verdana,Arial;font-size:10px;}
td 		{font-family:Verdana,Arial;font-size:10px;}
th 		{font-family:Verdana,Arial;font-size:10px;}
a 		{font-family:Verdana,Arial;font-size:10px;}
center	{font-family:Verdana,Arial;font-size:10px;}

td.txtp 	{font-family:Verdana,Arial;font-size:10px;color:#333333}
td.menu {background:#f1f1f1;font-family:Verdana,Arial;font-size:10px;text-decoration:none;color:#000000}
a.menu	{font-family:Verdana,Arial;font-size:10px;text-decoration:none;color:#000000}

.border1{	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid;}

.inputlogin {
	BORDER-RIGHT: #ffffff 0px double; BORDER-TOP: #ffffff 0px double; FONT-SIZE: 9pt; BORDER-LEFT: #ffffff 0px double; COLOR: #000000; BORDER-BOTTOM: #ffffff 0px double; FONT-FAMILY: verdana; BACKGROUND-COLOR: transparent
}

td {
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	border: none;
}
.text {
	font-family: verdana;
	font-size: 9px;
	color: #000000;
	text-decoration: none;
	border: none;
}
img {
	text-decoration: none;
	border: none;
}
.green {
	font-family: verdana;
	font-size: 9px;
	color: #5BA225;
	text-decoration: underline;
	border: none;
	font-weight: bold;
}
.green1 {
	font-family: verdana;
	font-size: 10px;
	color: #5BA225;
	text-decoration: underline;
	border: none;
	font-weight: bold;
}
.orange {
	font-family: verdana;
	font-size: 9px;
	font-weight: bold;
	color: #FF8A00;
	text-decoration: underline;
}
.orange1 {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: #FF8A00;
	text-decoration: underline;
}