/** IE6 is a hunk of crap!!! don't ask me why this is needed **/

#nav {
	position: relative;
	margin-right: -35px;
}

#mainbody {
	float: left;
}

#mainbody-2 {
	float: left;
}

#showcase {
	overflow: hidden;
}

body.style1 #badge {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='templates/rt_elixer2.0/images/style1/badge.png', sizingMethod='scale');
}

body.style2 #badge {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='templates/rt_elixer2.0/images/style2/badge.png', sizingMethod='scale');
}

body.style3 #badge {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='templates/rt_elixer2.0/images/style3/badge.png', sizingMethod='scale');
}

body.style4 #badge {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='templates/rt_elixer2.0/images/style4/badge.png', sizingMethod='scale');
}

body.style5 #badge {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='templates/rt_elixer2.0/images/style5/badge.png', sizingMethod='scale');
}

body.style6 #badge {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='templates/rt_elixer2.0/images/style6/badge.png', sizingMethod='scale');
}

#shadow-pad {
	margin-top: -3px;
}
